<div class="col mb-2">
    <div class="card h-100 w-75 border-dark">
        <div class="card-body text-body">
            <h5 class="card-title">Comment from {{name}}:</h5>
            <p class="card-text">{{comment}}</p>
        </div>
    </div>
</div>