<div class="col mb-2">
    <div class="card h-100 w-75 border-dark">
        <div class="card-body text-body">
            <h5 class="card-title">Review from {{user}} ({{ratingNum}} / 5):</h5>
            <p class="card-text">{{description}}</p>
        </div>
    </div>
</div>