.carousel-control-prev, .carousel-control-next {
    display: none;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  .carousel-indicators .active {
    background-color: #444;
  }

  .btn-primary, .btn-info, .btn-outline-primary {
    color: rgb(255, 255, 255); 
    background-color: #0072ee;
  }

  a {
    color: #0072ee
  }

  .btn-outline-success {
    color: #008a00;
  }

  .nav-link {
    color: #000000 !important; 
  }