.carousel-control-prev, .carousel-control-next {
    display: none;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
  }
  .carousel-indicators .active {
    background-color: #444;
  }