{{#unless this.context.error}}
    <h1 class="card-title">Hoboken Curbside</h1>
    <p class="card-text">Copyright © Andrew Capro, Nicholas Mule, Casey Mulrooney, Chancelor Assiamah</p>
    <a href="/about" class="btn btn-info">About Us</a>
    <div class="mb-3 p-2">
        <div class="row w-100">
            <div class="col-auto ml-auto mr-auto">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPostModal"{{#unless this.context.loggedIn}} hidden aria-disabled="true"{{/unless}}>Create Post</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title ml-auto mr-auto h4" id="createPostTitle">Create a Post</h1>
                    <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid align-items-center">
                        <form id="createPostForm" method="POST" action="/">
                            <div class="form-group row">
                                <label for="descriptionInput" class="col-auto col-md-4 col-form-label col-form-label-lg">Description</label>
                                <div class="col-auto col-md-7 p-1 offset-1 offset-md-0">
                                    <input type="text" class="form-control" id="descriptionInput" name="descriptionInput" size="32" minlength="10" maxlength="128" placeholder="Enter description" required aria-required="true">
                                </div>
                            </div>
                            <div class="form-group row mb-5 mb-md-4">
                                <label for="imageInput" class="col-5 col-md-4 mr-2 mr-md-1 col-form-label col-form-label-lg">Image</label>
                                <div class="col-7 p-1 offset-1 offset-md-0 custom-file">
                                    <input type="file" id="imageInput" class="custom-file-input form-control" accept=".png, .jpg, .jpeg" required aria-required="true">
                                    <label for="imageInput" class="custom-file-label">Choose file</label>
                                    <div class="w-100"></div>
                                    <div class="col-auto">
                                        <span class="small text-muted">Must be .png or .jpg/.jpeg file.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="locationInput" class="col-auto col-md-4 col-form-label col-form-label-lg">Location</label>
                                <div class="col-auto col-md-7 p-1 offset-1 offset-md-0">
                                    <input type="text" class="form-control" id="locationInput" name="locationInput" size="32" minlength="10" maxlength="96" placeholder="Enter location" required aria-required="true">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="keywordInput" class="col-auto col-md-4 col-form-label col-form-label-lg">Keywords</label>
                                <div class="col-auto col-md-7 p-1 offset-1 offset-md-0">
                                    <input type="text" class="form-control" id="keywordInput" name="keywordInput" size="32" minlength="4" maxlength="64" placeholder="Enter keyword(s)" required aria-required="true">
                                    <div class="col-auto">
                                        <span class="small text-muted">Must be in the format: "kw1; kw2; kw3".</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">Close</button>
                    <button type="submit" form="createPostForm" class="btn btn-primary mr-auto">Post</button>
                </div>
            </div>
        </div>
    </div>
    {{#if this.context.allKeywords}}
        <div>
            <div class="row w-100 mb-2">
                <div class="col-auto p-1 ml-auto mr-auto">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend mr-1">
                                <label for="filter" class="sr-only">Filter:</label>
                                <i class="bi bi-funnel-fill"></i>
                            </div>
                            <select class="custom-select" id="filter" name="filter" size="3" multiple>
                                <option selected disabled aria-disabled="true">Choose Keyword(s)...</option>
                                {{#each this.context.allKeywords}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-outline-primary mt-2 mx-3">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    {{/if}}

    <div class="row row-cols-1">
        {{#if this.context.posts}}
        <div class="container-fluid" id="post-area"></div>
            {{#each this.context.posts}} {{> post this trunc=../context/trunc mgmtPage=../context/mgmtPage loggedIn=../context/loggedIn }} {{/each}}
        </div>
        {{else}}
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <h3 class="alert-heading">Uh oh...</h3>
                    <p>No posts found. Either the server had an internal error, or your filter and/or search query returned nothing.</p>
                </div>
            </div>
        {{/if}}
    </div>
{{/unless}}
{{#if error}}
    <div class="alert alert-danger my-3" role="alert">
        <h3 class="alert-heading">You had the following error(s):</h6>
        <ul class="list-group list-group-flush">
            {{#each errors}}
                <li class="list-group-item bg-transparent">{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}