<div class="row row-cols-1">
    {{#unless this.context.error}}
        {{#with this.context.post}} {{> post loggedIn=../context/loggedIn placed=../context/placed ownPost=../context/ownPost isAdmin=../context/isAdmin }} {{/with}}
    {{/unless}}
    {{#if this.context.error}}
        <div class="col">
            <div class="alert alert-danger" role="alert">
                <h1 class="alert-heading h3">Uh oh...</h1>
                <ul class="list-group list-group-flush">
                    {{#each this.context.errors}}
                        <li class="list-group-item bg-transparent">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}
</div>