{{#if error}}
            <div class="alert alert-danger mt-2 mb-1" role="alert">
                <h1 class="alert-heading h6">You had the following error(s):</h1>
                <ul class="list-group list-group-flush">
                    {{#each errors}}
                        <li class="list-group-item bg-transparent">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
{{/if}}